<h1> Make your own scientist</h1>

<form action = "/create_scientist">
  <h3> Scientist's name </h3>
  <input type="text" name = "name" placeholder = "name">
  <h3> Scientist's image url </h3>
  <input type="text" name = "imgurl" placeholder = "imgurl">
  <h3> Scientist's join year </h3>
  <input type="text" name = "membersince" placeholder = "1980">
  <h3> Scientist Description </h3>
  <input type="text" name = "description" placeholder = "Description">
  <h3> Scientist's Location </h3>
  <input type="text" name = "location" placeholder = "Cleveland">
  <h3> Profile Completion Percent </h3>
  <input type="text" name = "completion" placeholder = "99">
  <p></p>
  <input type="submit">
</form>